@using BlazorUltimaDjent.Models

<div class="card" style="width: 18rem;">
    <img src="@Data.ImageSource" class="card-img-top" alt="@Data.Title" />
    <div class="card-body">
        <h5 class="card-title">@Data.Title</h5>
        <p class="card-text">@Data.Price</p>
    </div>
</div>

@code {
    [Parameter] public CardModel Data { get; set; }
}