<footer class="site-footer">
    <div class="footer-inner">
        <div class="footer-brand">
            <span class="footer-logo">ULTIMA</span>
            <p>Djent · Prog Metal from Northern Italy.<br />Playing loud since 2016.</p>
        </div>
        <div class="footer-col">
            <h4>Navigate</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Follow</h4>
            <div class="social-links">
                <a href="https://www.instagram.com/ultimadjent/" target="_blank" class="social-btn" aria-label="Instagram">Instagram</a>
                <a href="https://www.facebook.com/ultimadjent" target="_blank" class="social-btn" aria-label="Facebook">Facebook</a>
                <a href="https://www.youtube.com/channel/UCsiOmfBAclPbw7PUoNDWdpw" target="_blank" class="social-btn" aria-label="YouTube">YouTube</a>
                <a href="https://open.spotify.com/artist/16covOFVavN0LYXTOcu86z" target="_blank" class="social-btn" aria-label="Spotify">Spotify</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 ULTIMA CORP. ALL RIGHTS RESERVED.</p>
        <p class="footer-tag">DJENT.IT</p>
    </div>
</footer>