@page "/about"

<PageTitle>About Us</PageTitle>
		<img src="/images/ULTIMA2025.jpg" class="img-fluid mb-5" alt="Ultima Band Picture">

<div class="container-fluid mb-5">
	<div class="row justify-content-center px-4">
		<div class="col-md-8 col text-start">
			<h1 class="mb-3 fw-bolder text-center">About Us</h1>
			<p class="fs-5">
				Ultima, born and raised by people with two common passions: heavy riffs and videogames. Both can be heard in every of 
				their records: djenty riffs, powerful melodies and arrangements, with crazy synth sounds and uncommon ideas. 
				Their shows are without time to breathe and combine some ambient moments with huge breakdowns.
			</p>

			<p class="fs-5">
				Jacopo Ceretta and Massimo Forestan, having already formed a band together, decided in the 2016 to introduce Patrik Roncolato
				to find the prog sound imprint they were looking for. Matteo Polonio came a year later, being the ultimate element for a massive djent band. 
				Their first single, Malasomni, had the voice of Led from the band Kanjante. Some months later, Matteo Toffanin joined the band as 
				the lead singer. Lyrics deal with strong symbols and messages (with some references from videogames and TV series/books) with a 
				constant presence of a little right, a rushlight of hope.
			</p>

			<p class="fs-5">
				The EP "Meritamun" has been released in 2019, with "Malasomni" - published by Circle Pit on Youtube - and "Inadequate" - on their official 
				Youtube channel - as singles. “Inadequate” reached 30k views in a couple of months. Later, Ultima released a live session of another 
				song from the EP, "Iconoclasm". In 2022, the single "Four Mornings" preannounced the brand new album to be released. The new single 
				“I Won’t Hide” is on every platform, with a Youtube video visualizer presented by Spaceuntravel.
			</p>

			<p class="fs-5">
				Ultima had gigs with local bands and took part in many contests, succeeding many times; won the prize for the Best Band in 2021 “Alex Ruffini” 
				music contest for live show presence, won the prize “Defenders of The Faith” by After Dusk Studio, in 2022 with a home made original demo.
			</p>

			<p class="fs-5">
				Ultima has been playing live since 2019 all around Northern Italy and in nearby countries. The first EP release was presented with a 
				tour between Italy, Croatia and Slovenia. Energy and quality in live shows is constantly rising, and many new shows are being programmed 
				for the next few months.
			</p>

			<p class="fs-5">
				Djent, Prog metal from Italy
			</p>

			<p class="fs-5">
				FFO: Periphery, Monuments, Volumes, Tesseract
			</p>
		</div>
	</div>
</div>
