@page "/shop"
<PageTitle>Shop</PageTitle>

<div class="container-fluid mt-5">
	<div class="row justify-content-center px-4">
		<div class="col-md-8 col text-center">
			<h1 class="mb-3 fw-bolder">Shop</h1>
			
		</div>
	</div>
</div>