@page "/shop"
<PageTitle>Shop</PageTitle>

<div class="container-fluid mt-5">
	<div class="row justify-content-center px-4">
		<div class="col-md-8 col text-center">
			<h1 class="mb-3 fw-bolder">THIS IS ULTIMA</h1>
			<p class="fs-5 mb-0">Ultima, born and raised by people with two common passions: heavy riffs and videogames. Both can be heard in every of their records: djenty riffs, powerful melodies and arrangements, with crazy synth sounds and uncommon ideas. Their shows are without time to breathe and combine some ambient moments with huge breakdowns. The debut album "Bloom The Ego" in on every platform, be sure to give it a spin.</p>
		</div>
	</div>
</div>